@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");

.arrowTop {
  text-align: -webkit-center;
  padding: 2rem;
  margin-top: 2rem;
  @media screen and (max-width: 500px) {
    margin-top: 3.5rem;
  }
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  @media screen and (max-width: 500px) {
    margin-top: 3.5rem;
  }
  }
  .content{
    display: grid;
    place-items: center;
    height: 60vh;
    align-items: center;
    .content-body {
      width: 100%;
      display: grid;
      grid-template-columns:repeat(3, 1fr);
      row-gap: 1rem;

      @media screen and (max-width: 715px) {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        margin: 0;
        row-gap: 0;
    }
    .folder {
      margin: 0 10px 10px 0;
    }
  }

  .cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 50vh;
    align-items: center;
    transition: 0.25s ease;

    .cardBackground {
      background-color: #1a1c20;
      height: 17rem;
      width: 100%;
      .projectContainer {
        height: 17rem;
        width: 100%;
        border: 2px solid black;
        background: #f4f4f4;
        text-decoration: none;
        color: #1a1c20;
        display: block;
        transition: 0.25s ease;
        .cardLogo {
          width: 100%;
          max-height: 8rem;
          margin: 0;
        }
        .descriptionContainer {
          padding: 5px;
          @media screen and (max-width: 715px) {
            padding: 0;
          }
          .icons {
            display: flex;
            justify-content: space-evenly;
          }
          .icons i {
            color: #999;
            display: inline-block;
            margin-right: 5px;
            font-size: 1.7em;
          }
          .icons i:hover {
            color: #555;
          }
          .icons i a {
            text-decoration: none;
          }

          p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            /* font-weight: bold; */
          }
        }
      }
      &:hover {
        border: 2px solid #cf7500;
        .projectContainer:hover {
          transform: translate(0px, -30px);
        }
      }
    }
  }
}
.arrowBottom {
  margin-top: 2rem;
  text-align: -webkit-center;
  padding: 2rem;
  h3 {
    margin-bottom: 1.5rem;
  }
}
