ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-primary);
  box-shadow: 1px 10px 13px -6px rgba(26, 28, 32, 0.82);
  -webkit-box-shadow: 1px 10px 13px -6px rgba(26, 28, 32, 0.82);
  -moz-box-shadow: 1px 10px 13px -6px rgba(26, 28, 32, 0.82);
  font-family: "Raleway";
}
li {
  float: left;
}
li a {
  display: block;
  color: var(--color-secondary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  @media screen and (max-width: 715px) {
    padding: 5px 5px;
    font-size: 14px;
  }
}

li a.active {
  background-color: var(--color-third);
  color: var(--color-secondary);
}

li a:hover {
  background-color: var(--color-secondary);
  color: var(--color-third);
}
