@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import "~bootstrap/scss/bootstrap";

$baseColor: #111;
$secondaryColor: #f4f4f4;
$thirdColor: #f0a500;

:root {
  --color-primary: #{$baseColor};
  --color-secondary: #{$secondaryColor};
  --color-third: #{$thirdColor};
}
body {
  background-color: var(--color-primary);
}
html{
  font-size: 70%;
}
.app{
  min-height: 768px;
}